@import '../../../colors.scss';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: $col1;
  background-image: linear-gradient(90deg, $col4, $col5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}